<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hkit.pms.mapper.board.BoardNoticeMapper">


	<sql id="criteria">
		<trim prefix="(" suffix=") AND">
			<foreach collection="typeArr" item="type" separator="OR">
				<if test="type == 'T'.toString()">
				POST_TITLE like '%'||#{keyword}||'%'
				</if>
				<if test="type == 'C'.toString()">
				POST_CONTENT like '%'||#{keyword}||'%'
				</if>
				<if test="type == 'W'.toString()">
				POST_WRITER like '%'||#{keyword}||'%'
				</if>
			</foreach>
		</trim>
	</sql>


	<!-- 글 생성 -->
 	<insert id="noticeinsert"> 	 	
		insert into TB_POST (IDX, POST_TITLE, POST_CONTENT, POST_WRITER, POST_REGISTER_TIME)
		values (TB_POST_IDX.nextval, #{POST_TITLE}, #{POST_CONTENT}, #{POST_WRITER}, sysdate)
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="IDX" order="BEFORE" resultType="long">
			select TB_POST_IDX.nextval from dual
		</selectKey>	
		insert into TB_POST (IDX, POST_TITLE, POST_CONTENT, POST_WRITER, POST_REGISTER_TIME)
		values (#{IDX}, #{POST_TITLE}, #{POST_CONTENT}, #{POST_WRITER}, sysdate)
	</insert>
	
	
	
	<!-- 리스트 보기 -->
	<select id="noticegetList" resultType="kr.hkit.pms.domain.board.BoardNoticeDTO">
		select * from TB_POST order by IDX
	</select>
 	 
 
	<!-- 글 조회 -->
	<select id="noticeread" resultType="kr.hkit.pms.domain.board.BoardNoticeDTO">
		select * from TB_POST where IDX = #{IDX}
	</select>
	
	
	<!-- 삭제하기 -->
	<delete id="noticedelete">	<!--  BoardMapper.java 인터페이스 메소드명과 동일 -->
		delete from TB_POST where IDX = #{IDX}
	</delete>
	
	<!-- 수정하기 -->
	<update id="noticeupdate">
		update TB_POST 
		SET POST_TITLE = #{POST_TITLE},
			POST_CONTENT = #{POST_CONTENT},
			POST_WRITER = #{POST_WRITER},
			POST_REGISTER_TIME = sysdate
			WHERE IDX = #{IDX}
	</update>
	
	<select id="getListWithPaging" resultType="kr.hkit.pms.domain.board.BoardNoticeDTO">
	<![CDATA[
		SELECT * FROM
		( SELECT /*+ INDEX_DESC(TB_POST TB_POST_PK) */ 
		ROWNUM RN, IDX, POST_TITLE, POST_CONTENT, POST_WRITER, POST_REGISTER_TIME
		FROM TB_POST
		WHERE 
	]]>
	<include refid="criteria"></include>
	<![CDATA[
		ROWNUM <= (#{pageNum, jdbcType=NUMERIC} * #{amount, jdbcType=NUMERIC})
		)
		WHERE RN > (#{pageNum, jdbcType=NUMERIC} -1) * #{amount, jdbcType=NUMERIC}
	]]>
	</select>
	
	<select id="gettotalcount" resultType="int">
	select count(IDX) from TB_POST WHERE
	<include refid="criteria"></include>
	IDX > 0 
	</select>
	
	<!-- 검색 -->
	<select id="searchT" resultType="kr.hkit.pms.domain.board.BoardNoticeDTO">
	<![CDATA[
	select * from TB_POST
	where
	]]>
	
	<![CDATA[
	rownum < 10
	]]>
	</select>
</mapper>